<%- include('../partials/html-head') %>

</head>
<body  class="homePage">
<%- include('../partials/nav') %>


<main>
  <div class="container-lg py-3">
    <div class="d-flex bd-highlight">
      <h5 class="p-1 flex-grow-1 bd-highlight">MyReadingList</h5>
      <a href="/book" class="btn-2d"><span>BROWSE MORE BOOK</span> </a>
      </div>
      
      
    
         
    
  </div>
</main>


<%- include('../partials/footer') %>
