<%- include('../partials/html-head') %>

</head>
<body  class="homePage">
<%- include('../partials/nav') %>


<main>
  <div class="container-lg py-3">
    <div class="d-flex justify-content-sm-between flex-column flex-sm-row align-items-center">
      <h5 class="p-1">Book List</h5>
      <form action="/book/search" method="POST" class="d-flex align-items-center me-3">
        <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning">
          <img  src="/images/book/logo/search.svg" alt="search">
        </button>
      </form>
    </div>
      
      
         
    
  </div>
</main>


<%- include('../partials/footer') %>
